POSTGRES_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
OPENAI_API_KEY=
PEXELS_API_KEY=
RESEND_API_KEY=
BLOB_READ_WRITE_TOKEN=
ONESIGNAL_APP_ID=
ONESIGNAL_REST_API_KEY=

